# NLP Laboratory 
# Assignment-1
## Submitted By: DIPIKA GURTU
## Roll No.: 2018IMT-029

In [44]:
import pandas as pd
import numpy as np
import nltk
import nltk.corpus
import nltk.tokenize

In [45]:
tweet_data = pd.read_csv("C:/Users/USER/Downloads/train.csv")
tweet_data=tweet_data.drop(["keyword","location"],axis=1)
tweet_data

         id                                               text  target
0         1  Our Deeds are the Reason of this #earthquake M...       1
1         4             Forest fire near La Ronge Sask. Canada       1
2         5  All residents asked to 'shelter in place' are ...       1
3         6  13,000 people receive #wildfires evacuation or...       1
4         7  Just got sent this photo from Ruby #Alaska as ...       1
...     ...                                                ...     ...
7608  10869  Two giant cranes holding a bridge collapse int...       1
7609  10870  @aria_ahrary @TheTawniest The out of control w...       1
7610  10871  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  10872  Police investigating after an e-bike collided ...       1
7612  10873  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 3 columns]

In [46]:
test_data=pd.read_csv("C:/Users/USER/Downloads/test.csv")
test_data=test_data.drop(["keyword","location"],axis=1)
test_data

         id                                               text
0         0                 Just happened a terrible car crash
1         2  Heard about #earthquake is different cities, s...
2         3  there is a forest fire at spot pond, geese are...
3         9           Apocalypse lighting. #Spokane #wildfires
4        11      Typhoon Soudelor kills 28 in China and Taiwan
...     ...                                                ...
3258  10861  EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259  10865  Storm in RI worse than last hurricane. My city...
3260  10868  Green Line derailment in Chicago http://t.co/U...
3261  10874  MEG issues Hazardous Weather Outlook (HWO) htt...
3262  10875  #CityofCalgary has activated its Municipal Eme...

[3263 rows x 2 columns]

In [47]:
data=pd.DataFrame(tweet_data.text,columns=["text"])
data2=pd.DataFrame(test_data.text,columns=["text"])
Data=pd.concat([data,data2],axis=0,ignore_index=True)

# Sentence Tokenization

In [48]:
from nltk.tokenize import  sent_tokenize
Data['tokenized_text'] = Data.apply(lambda row: nltk.sent_tokenize(row['text']), axis=1)
Data.head()

,text,tokenized_text
0,Our Deeds are the Reason of this #earthquake M...,[Our Deeds are the Reason of this #earthquake ...
1,Forest fire near La Ronge Sask. Canada,"[Forest fire near La Ronge Sask., Canada]"
2,All residents asked to 'shelter in place' are ...,[All residents asked to 'shelter in place' are...
3,"13,000 people receive #wildfires evacuation or...","[13,000 people receive #wildfires evacuation o..."
4,Just got sent this photo from Ruby #Alaska as ...,[Just got sent this photo from Ruby #Alaska as...

In [49]:
print('The paragraph to be sentence-tokenized:')
print(Data['text'][10872])
print('The tokenized paragraph:')
Data['tokenized_text'][10872]

The paragraph to be sentence-tokenized:
Storm in RI worse than last hurricane. My city&amp;3others hardest hit. My yard looks like it was bombed. Around 20000K still without power
The tokenized paragraph:

['Storm in RI worse than last hurricane.',
 'My city&amp;3others hardest hit.',
 'My yard looks like it was bombed.',
 'Around 20000K still without power']

# Word Tokenization

In [50]:
# from nltk.tokenize import WhitespaceTokenizer
# from nltk.tokenize import WordPunctTokenizer
# from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import TreebankWordTokenizer
# Tokenizer1=WhitespaceTokenizer()
# Tokenizer2=WordPunctTokenizer()
# Tokenizer3=RegexpTokenizer(r"\w+")
Tokenizer4=TreebankWordTokenizer()

In [51]:
Data['tokenized_text'] = Data.apply(lambda row: Tokenizer4.tokenize(row['text']), axis=1)

In [52]:
print('The sentence to be word-tokenized:')
print(Data['text'][3])
print('The tokenized sentence:')
Data['tokenized_text'][3]

The sentence to be word-tokenized:
13,000 people receive #wildfires evacuation orders in California
The tokenized sentence:

['13,000',
 'people',
 'receive',
 '#',
 'wildfires',
 'evacuation',
 'orders',
 'in',
 'California']